<!doctype html>
<html lang="en">
<head>

    <% include partials/page_head %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script>
        var socket = io();
    </script>

    <!-- Google Maps JS API -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8UgLksCoAWs5n4eG4UsAEpMJsWc3kg_U"></script>
    <script src="/javascripts/gmaps.js"></script>
    <script src="/javascripts/restaurant.js"></script>

</head>

<body>
<% include partials/navbar %>

<main role="main">

    <div class="container">

        <h3><%= restaurant[0].name %></h3>

        <%= restaurant[0].typeOfCuisine.join(", ")%>
        <div class="card" >
            <img class="card-img-top" src="../<%= restaurant[0].officialPhoto %>" alt="Card image cap">

            <ul class="list-group list-group-flush">
                <li class="list-group-item"><%= restaurant[0].address.streetName %>, <%= restaurant[0].address.city %>, <%= restaurant[0].address.postcode %>, <%= restaurant[0].address.country %></li>
                <li class="list-group-item">Telephone Nº: <%= restaurant[0].contactDetails.telephone%></li>
                <li class="list-group-item">Website: <a href="<%=restaurant[0].contactDetails.website%>"><%=restaurant[0].contactDetails.website%></a></li>
            </ul>
        </div>

        <div id="map"></div>


    </div>

    <br>
    <div style="background: #f9f9f9;">
        <div class="container">
            <% include partials/restaurantTotalScore.ejs %>
        </div>
    </div>
    <br>

    <div class="container">
        <% restaurant[0].reviews.forEach(function (review) {  %>
            <!--<p><%= review %></p>-->
            <% include partials/displayReview.ejs %>
        <% }) %>
    </div>

    <div id="myReview"></div>

    <br>
    <div style="background: #f1f1f1;">
        <div class="container" >
            <% if (user) {%>
                <% include partials/addReviewForm.ejs %>
            <% }%>
        </div>
    </div>
    <br>

</main>

<footer class="container">
    <p>&copy; Company 2017-2018</p>
</footer>

</body>
</html>