<!doctype html>
<html lang="en">
<head>

    <% include partials/page_head %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>


    <!-- Google Maps JS API -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8UgLksCoAWs5n4eG4UsAEpMJsWc3kg_U"></script>
    <script type="text/javascript">
        $(function() {
            window.RestaurantData = <%- JSON.stringify(restaurant[0]) %>;
        });
    </script>
    <script src="/javascripts/gmaps.js"></script>
    <script src="/javascripts/restaurant.js"></script>

</head>

<body>
<% include partials/navbar %>

<main role="main">
    <div itemscope itemtype="http://schema.org/Restaurant">
    <div class="container">
        <div class="d-flex bd-highlight">
            <div class="p-2 bd-highlight">
                <img src="../<%= restaurant[0].officialPhoto %>" style="width: 65px; height: 65px;" alt="Card image cap">
            </div>
            <div class="p-2 flex-grow-1 bd-highlight">
                <p class="h4"><div itemscope itemtype="http://schema.org/name"><%= restaurant[0].name %></div></p>
                <div itemscope itemtype="http://schema.org/servesCuisine">
                <%= restaurant[0].typeOfCuisine.join(", ")%>
                </div>
                <% if (restaurant[0].hasDelivery == true) {%>
                <span class="hasDelivery">
                        <i class="fas fa-motorcycle"></i> Delivery
                    </span>
                <% }%>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>
                    <div id="distToRestaurant"></div>
                </p>
                <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><p>
                    <i class="fa fa-location-arrow" aria-hidden="true">

                    </i> <span itemprop="streetAddress"> <%= restaurant[0].address.streetName %> </span>,
                        <span itemprop="addressLocality"> <%= restaurant[0].address.city %> </span>,
                        <span itemprop="postalCode"> <%= restaurant[0].address.postcode %> </span>,
                        <%= restaurant[0].address.country %>
                </p></div>
                <p><i class="fa fa-phone" aria-hidden="true"></i>
                    <span itemprop="telephone"> <%= restaurant[0].contactDetails.telephone%></span>
                </p>
                <p>
                    <i class="fa fa-link" aria-hidden="true"></i> <a href="<%=restaurant[0].contactDetails.website%>"><%=restaurant[0].contactDetails.website%></a>

                </p>

            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h5>Image Gallery</h5>
                <div class="separator-red"></div>

                <div class="row">
                <% restaurant[0].photoGallery.forEach(function (photo) {  %>
                    <div class="col-3">
                        <a href="../<%= photo %>">
                            <img class="img-fluid" src="../<%= photo %>">
                        </a>
                    </div>
                <% }) %>
                    <div class="col-3">
                    <a href="/multipleupload/<%=restaurant[0].id%>"><img class="img-fluid" src="../addImages.png"></a>
                    </div>
                </div>
            </div>


            <div class="col-12">
                <h5 class="top-1-rem">Map View</h5>
                <div class="separator-red"></div>

                <div id="map"></div>
            </div>


            <div class="col-12">
                <h5 class="top-1-rem">Rating & Comments</h5>
                <div class="separator-red"></div>


                <% include partials/restaurantTotalScore.ejs %>

            </div>
        </div>


    <div class="row">
        <% restaurant[0].reviews.forEach(function (review) {  %>
            <!--<p><%= review %></p>-->
            <% include partials/displayReview.ejs %>
        <% }) %>
    </div>

    <div id="myReview"></div>

    <br>
        <% if (user) {%>
        <h5 class="top-1-rem">Leave A Review</h5>
        <div class="separator-red"></div>

        <% include partials/addReviewForm.ejs %>
        <% }%>
    <br>
    </div>
    </div>
</main>

<footer class="container">
    <p>&copy; Company 2017-2018</p>
</footer>

</body>
</html>